<div class="kufa-section">

    <div class="section-title">ACHIEVEMENTS</div>

    <div class="content">
        <div class="section-quote">
            "There is nothing outside of yourself that can ever enable you to get better, stronger, richer, quicker,
            or smarter. Everything is within. Everything exists. Seek nothing outside of yourself."<br/>
            &mdash; Miyamoto Musashi, The Book of Five Rings

        </div>

        <p>Athletes representing the newly-formed Kaprica United Fencing Academy have several achievements and
            accomplishments to their credit. At the most recent Summer National USA Fencing Championships held in
            St. Louis, MO, we captured 5 national medals including two gold and one silver.</p>

        <table class="table table-borderless section-achievement" style="margin: 0 auto 15px auto;width: auto">
            <tr>
                <td><b>Zoe Kim</b></td>
                <td>Cadet Women’s Saber<br/>Youth-14 Women’s Saber</td>
                <td><b>Gold<br/>Gold - National Champion</b></td>
            </tr>
            <tr>
                <td><b>Vaughn Rice</b></td>
                <td>Division 2 Men’s Saber</td>
                <td><b>Silver</b></td>
            </tr>
            <tr>
                <td><b>Joanna Rizkala</b></td>
                <td>
                    Youth-12 Women’s Saber<br/> Regional Y-14 and Y-12
                </td>
                <td><b>5th Place<br/>Ranked 1st in Region 3</b></td>
            </tr>
            <tr>
                <td><b>Matthew Chan</b></td>
                <td>Youth-12 Men’s Saber</td>
                <td><b>7th Place</b></td>
            </tr>

        </table>


        <p>In the 2017-18 season, we garnered nine national medals in total with several top 16 and top 32 placings
            in events from Youth to Div 1. Our group is still small, but our fencers are of high quality and in high
            demand by top colleges and university fencing programs.</p>
        <div class="has-text-centered" style="margin-bottom:15px"><img src="/assets/img/usafencing.png"></div>
        <div class="columns is-centered" style="padding: 0 15px">
            <div class="column has-text-centered"><img class="img-fluid" src="/assets/img/image5.jpg"></div>
            <div class="column has-text-centered"><img class="img-fluid" src="/assets/img/vaughn.jpg"></div>
            <div class="column has-text-centered"><img class="img-fluid" src="/assets/img/rizkala1.jpg"></div>
        </div>

    </div>
</div>
