<div class="kufa-section">

    <div class="section-title">CLASS DESCRIPTIONS</div>

    <div class="content">
        <p>&nbsp;</p>
        <!-- <div class="columns">
            <div class="column"><h4>INTRODUCTION</h4></div>
            <div class="column has-text-right"><b>Tuesday at 4:30 - 6 PM plus one private
                lesson, scheduled at your convenience</b>
            </div>
        </div>
        <p>Our introduction program is for brand new fencers of any age and consists of four foundation classes at the member rate plus one private lesson with Head Coach at a discount. Equipment is provided for the introduction period only, matched uniquely to the student for health reasons. Equipment sanitized before each class. The total cost of this package is $140.00, due at signing. </p>
        <p>&nbsp;</p> -->

        <div class="columns">
            <div class="column"><h4>FOUNDATION</h4></div>
            <div class="column has-text-right"><b>Tuesday and Thursday, 4:30 PM- 6:00 PM</b>
            </div>
        </div>
        <p>Each great athlete is built upon a sound foundation of fitness, balance, rhythm, technique, and basic tactics.  Our Fundamentals classes are structured to provide each participant with a sense of not only fencing, but also of his or her own strengths and weaknesses and how to develop them.</p>
        <p>Fundamentals class is  90 minutes in length and limited in size. Class is designed to be playful, creative, and challenging in order to impart good habits upon a developing athlete.  A student may expect to be in foundation classes until they can demonstrate proficiency at the key skills taught to them, which can range from two months to two years.</p>
        <p>Classes are open to students age 7 and above, though some students may be intellectually and physically mature and disciplined enough to begin at an earlier age, pending coach approval. Every effort is made to group students by age, though this is not always possible.</p>
        <p>&nbsp;</p>

        <div class="columns">
            <div class="column"><h4>YOUTH COMPETITIVE</h4></div>
            <div class="column has-text-right"><b>Tuesday 6:10-8PM; Saturday 10am - 12pm</b>
            </div>
        </div>
        <p>Youth Competitive is open to students age 8-14 who are ready to compete or who are already competitive. Older students are encouraged to also take one competitive (or advanced, by invitation) class per week. This class has an emphasis on technique, sound habits, and basic tactical actions and progressions. NOTE: the Saturday class is youth only, Tuesday may include older teenagers</p>
        <p>&nbsp;</p>

        <div class="columns">
            <div class="column"><h4>COMPETITIVE</h4></div>
            <div class="column has-text-right"><b>Tuesday and Thursday 6:10-8:00</b>
            </div>
        </div>
        <p>Competitive classes are for students of any level who compete or aspire to compete in scholastic or USA Fencing-sanctioned tournaments.  Age is generally 12 and above,  The class is mixed level, often including high-level athletes. Every effort is made to group students with partners of their own age and level though they are also encouraged to mix with fencers of greater or less experience for certain learning experiences.</p>
        <p>Tasks are designed to refine, sharpen, and build upon the skills and concepts taught in Fundamentals classes.  The tactical side of the game is explored and explained so that dedicated participants have the knowledge and experience they need to take on other skilled athletes.  Classes are two hours long and include balance, coordination, agility, footwork, technical, and tactical experiences.  NOTE: Tuesday Competitive is also open to youth</p>
        <p>Advanced students are always welcome in Competitive classes to hone their core skills and techniques, but the curriculum is specifically designed to be accessible to students who may just be getting started in competitive fencing.</p>
        <p>&nbsp;</p>

        <div class="columns">
            <div class="column"><h4>ADVANCED</h4></div>
            <div class="column has-text-right"><b>Monday, Wednesday, Friday 6:10 - 9:00 PM, Sat, 1pm-4pm</b>
            </div>
        </div>
        <p>Advanced classes are two hours in length and coach approval is required to participate.  Advanced students will have had considerable competitive experience and attend national and regional competitions regularly.  Age is generally 12 and above.</p>
        <p>An advanced athlete needs to learn to disguise one’s intent while simultaneously determining the hidden intent of the opponent.  The athlete must not only recognize an opportunity, but also often create it.  Finally, the athlete must execute the touch with precision and clarity so that a referee may award it correctly.</p>
        <p>Tactics and strategy are explored in depth.  Video analysis of bouts and practices is common, and students will be challenged physically and mentally to push to new frontiers of growth and achievement. A certain technical proficiency and experience level is required to have a truly successful experience in Advanced classes, and that is why a coach must approve participation.</p>
        <p>&nbsp;</p>

        <!-- <div class="columns">
            <div class="column"><h4>FOOTWORK AND FITNESS</h4></div>
            <div class="column has-text-right"><b>Monday 6-7:00 PM, Sunday 3-4:00 PM, more TBD</b>
            </div>
        </div>
        <p>Footwork and fitness classes begin with a 20-25 minute intense workout designed to strengthen muscles, improve endurance, and enhance explosivity. No workout is ever exactly the same, incorporating elements from boxing, dance, pilates, yoga, and other Olympic sports with skills and attributes relevant to Olympic fencing. After a brief interval of stretching, students practice and refine their footwork.</p>
        <p>&nbsp;</p>

        {*
        <div class="columns">
            <div class="column"><h4>VETERAN, YOUTH-8, and PARENT CLASSES</h4></div>
            <div class="column has-text-right">COMING SOON
            </div>
        </div>

        <p>Fencing is a sport for all ages, and we plan to include classes for athletes over 40, under 7, and for
            fencing families based on demand as we continue to develop as a club.</p>
        <p>&nbsp;</p>
        *}
        {*
        <div class="columns">
            <div class="column"><h4>CAREGIVER'S CLASH!</h4></div>
            <div class="column has-text-right">Sunday 3-4:00 PM
            </div>
        </div>

        <p>
            Do you get frustrated watching your child lose? Aren't you sure you can do it better? What's wrong with
            them anyway... how hard can it be to march up to someone and smack them with a pretend sword? Well,
            here's your chance to put those thoughts and words to action. Caregivers Clash is a special opportunity
            for parents and veteran (over 40) fencers to get together - with or without student-athletes - and train
            together, learning the techniques, tactics, and nuances of the sport they invest so much in. Currently,
            this program is saber only, but we plan to expand it to epee at some point in the future. The cost is
            $25 for adults/parents/veterans There is no charge for student-athlete participation provided they are
            members. Non-member athletes will pay $5 per session.
        </p>
        <p class="has-text-centered"><router-link to="/clash">Click here to sign up!</router-link></p>
        *} -->
    </div>
</div>
