<div class="kufa-section">

    <div class="section-title">COMPETITION 101</div>
    <div class="content">
        <p>Many parents and athletes ask the question, “Is my child ready for competition?” There is no stock answer
            for this question, but this section may serve as a guide.</p>

        <h4>What does the child think?</h4>
        <p>It is usually a mistake to push a child into competition without the full and enthusiastic assent of the
            child. Students are usually the best judge of their own mental, physical, and emotional readiness for
            competition. Often, a child will broach the topic themselves as they see kids from their class or the
            class above them begin to come back with medals or stories of medals that got away. Children are aware
            that the purpose of studying a fighting art is to fight, and that the purpose of fighting is to win.</p>

        <p>At the same time, the second part of that statement is very important. Expectations of instant or magical
            success must be carefully but firmly pulled back to solid ground. A child’s first few competitions are
            likely to be notably unsuccessful even at the lowest level. However, the experience one receives in
            managing emotions, pressure, triumph, disappointment, and - above all- good sportsmanship is truly
            invaluable.</p>

        <h4>Recipe for a good start to competition</h4>
        <ol>
            <li>The child feels ready and is enthusiastic</li>
            <li>The coach agrees that skills are sufficiently developed</li>
            <li>Everyone involved understands that there is almost no expectation of results for several months,
                though signs of improvement are important
            </li>
        </ol>

        <h4>What equipment does my child need?</h4>

        <p>Each athlete needs the following to participate in competition :</p>

        <ul>
            <li>Saber Competition glove (rated to resist 800 Newton’s of force, FIE approved</li>
            <li>Underarm protector</li>
            <li>Chest protector for girls (optional for boys)</li>
            <li>Knickers (fencing pants)</li>
            <li>Long socks (knee length)</li>
            <li>Electric saber mask</li>
            <li>Fencing jacket</li>
            <li>Electric saber lame (name on back only required for national tournaments, country required for
                international )
            </li>
            <li>Two weapons</li>
            <li>Two body cords</li>
            <li>Two mask cords</li>
            <li>Optional - fencing shoes</li>
        </ul>

        <p><b><i>Competitive USA fencing membership is required for all USA fencing sanctioned events!</i></b></p>

        <p>Membership may be obtained or upgraded here :
            <a href="https://member.usafencing.org/membership-types" target="_blank">USA Fencing Membership
                <i class="fas fa-external-link-alt"></i></a>
        </p>

        <p><i>An FIE Card is required for all international competitions. Usually, participation must be approved by
                USA fencing as well.</i></p>

        <h4>Competitive divisions and types</h4>

        <p><u>Youth 8, 10, 12, and 14, Cadet (Y16), & Junior (Y19)</u><br />These competitions are age restricted.
            Age eligibility is determined by birth year , not actual age at time of competition.</p>

        <p>For example, a fencer who is born on January 1, <span id="y12Year"></span> is eligible to fence Y12 for the
            entire <span id="thisYear"></span>-<span id="nextYear"></span>
            season but someone born December 31, <span id="y13Year"></span> must fence Y14, Cadet, Junior only.</p>

        <h4>Senior Eligibility</h4>
        <p>Senior events of all types are generally open to fencers who turned 13 in the first year of any
            season.</p>

        <p>For example, someone who turns 13 on 12/31/<span id="thisYear"></span> is eligible for senior events, but
            someone who turns 13 on
            1/1/<span id="nextYear"></span> is currently not.</p>

        <p>More information to see exactly what you can qualify for is also available at
            <a href="https://www.usafencing.org/age-classification-eligibility" target="_blank">Age and Classification
                Eligibility<i class="fas fa-external-link-alt fa-sm"></i></a>
        </p>

        <h4>Senior Divisions</h4>

        <p><u>Division 1</u>: Only open to athletes C rated and over at time of entry (refer to “How do I get
            rated?” below)</p>

        <p><u>Division 1-A</u>: Open to all senior athletes regardless of rating</p>

        <p><u>Division 2</u>: Open to all senior athletes with a rank of C or lower at time of entry</p>

        <p><u>Division 3</u>: Open to all senior athletes with a rank of D or lower at time of entry</p>

        <p><u>Veteran 40/50/60/70</u>: Open to all senior athletes who meet the minimum age of the group by birth
            year</p>

        <h4>Rules and particulars of age competitions</h4>

        <p><u>Youth 8</u>: Blade must be size 0, direct elimination to the score of ten</p>

        <p><u>Youth 10</u>: Blade must be size 1, direct elimination to the score of ten</p>

        <p><u>Veteran</u>: Blade must be size 2(adult), direct elimination to the score of ten</p>

        <p>All other ages and divisions must have Blade size 2, direct eliminations are to the score of 15</p>

        <h5>Gender mixing</h5>
        <p>Often at small or local competitions at any level, organizers will mix genders to create a larger field.
            This does not affect the rating of the competition, per se, but can make it a higher rated competition.
            <i>Regional and national events are always gender specific.</i>
        </p>

        <h4>How do I find tournaments ?</h4>

        <p>One may find local/division tournaments on <a href="http://www.askfred.net" target="_blank">www.askfred.net
                <i class="fas fa-external-link-alt fa-sm"></i></a>. Often, regional and super youth tournaments are
            listed
            there, but those listing <i>are for informational purposes only!!</i></p>

        <p>As of the 2018-19 season, any tournament at the regional or higher level must be entered via the USA
            fencing events website: <a href="https://member.usafencing.org/search/tournaments" target="_blank"> USA
                Fencing Competitions <i class="fas fa-external-link-alt fa-sm"></i></a></p>

        <p>There is a master list of tournaments at this level on the USA Fencing website at
            <a href="https://cdn1.sportngin.com/attachments/document/ce85-2500500/Regional_Calendar_full_calendar_for_PDF_10.13.21.pdf"
                target="_blank">
                2021-2022 USA Fencing Regional Calendar. &nbsp;<i class="fas fa-external-link-alt fa-sm"></i></a>
        </p>

        <p><b>Note- this does not include the deadlines for entry which are usually several weeks before the
                tournament.</b></p>

        <p><a href="https://www.usafencing.org/national-events-calendar" target="_blank"> USA Fencing National
                Events Calendar <i class="fas fa-external-link-alt fa-sm"></i> </a></p>

        <h4>How do I qualify for National Championships?</h4>
        <p>There are 4 different paths listed by USA Fencing to qualify for the National Championship's events.</p>
        <p>
        <ul>
            <li>
                earning national points from NACs, Championships, July Challenge, SJCCs or SYCs and ranking on the
                relevant national points list
            </li>
            <li>
                earning the required number of regional qualifying points from RYCs, RJCCs or ROC
            </li>
            <li>
                for Y14, Division 2 and Division 3 events finishing in the top 25% of a respective Division Qualifier (DQ) event
            </li>
            <li>
                for the Division 2 Championship, an alternative way is finishing in the top 40% at a Division 2 NAC
            </li>
        </ul>
        </p>
        <p>All of this information is listed in the second chapter of the 
            <a href="https://cdn2.sportngin.com/attachments/document/523a-2537718/21_22_Athlete_Handbook_10.14.21.pdf"
                target="_blank">
                USA Fencing Athlete Handbook<i class="fas fa-external-link-alt fa-sm"></i></a>
        </p>

        <h4>How do I get rated?</h4>

        <p>The rating system is somewhat complex and difficult to understand. Please refer to the following for an
            overview.</p>

        <p><a href="https://askfred.net/Info/eventClass.php" target="_blank">USA Fencing Competition Rating Formulae
                <i class="fas fa-external-link-alt fa-sm"></i></a></p>

        <p><i>Youth events can be rated, but it is often difficult to get any rating higher than a D at a Y12 or
                lower event.</i></p>
    </div>
</div>
<script>
    date = new Date();
    thisYear = date.getFullYear();
    $('#thisYear').append(thisYear);
    nextYear = date.getFullYear() + 1;
    $('#nextYear').append(nextYear);
    y12Year = date.getFullYear() - 12;
    $('#y12Year').append(y12Year);
    y13Year = date.getFullYear() - 13;
    $('#y13Year').append(y13Year);
</script>