<div class="kufa-section">
    <div class="section-title">
        CONTACT
    </div>
    <div class="content">
        <ul>
            <li>
                Telephone: <a href="tel:+1-732-440-8610">732-440-8610</a>
            </li>
            <li>
                Email:
                <ul>
                    <li>Coach Stephen Kovacs:
                        <a href="mailto:stephen@kapricaunited.com">stephen@kapricaunited.com</a></li>
                    <li>Coach Zack Brown: <a href="mailto:zack@kapricaunited.com">zack@kapricaunited.com</a></li>
                    <li>Media Inquiries: <a href="mailto:media@kapricaunited.com">media@kapricaunited.com</a></li>
                    <li>General Info: <a href="mailto:info@kapricaunited.com">info@kapricaunited.com</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
