<div class="kufa-section">
    <div class="section-title">COMMUNITY AND COMPETITION COVENANT</div>

    <div class="content">
        <div class="has-text-centered" style="margin-bottom:48px">
            <p style="font-size:24px;font-weight:bold;margin-bottom:20px">
                Community and Competition Covenants
            </p>
            <p><a class="button" href="/assets/documents/2020CommunityAndCompetitionCovenant.pdf" target="_blank">View Document</a>
            </p>
        </div>
    </div>
</div>
<div class="kufa-section">
    <div class="section-title">PARENT COVENANT</div>

    <div class="content">
        <div class="has-text-centered" style="margin-bottom:48px">
            <p style="font-size:24px;font-weight:bold;margin-bottom:20px">
                Parent Covenant
            </p>
            <p><a class="button" href="/assets/documents/2020ParentCovenant.pdf" target="_blank">View Document</a>
            </p>
        </div>
    </div>
</div>
