<div class="kufa-section">
    <div class="section-title">COMMUNITY COVENANT</div>

    <div class="content">

        <p><b class="title-font">Kaprica United Fencing Academy</b> is a community with an ethic of excellence. We
            embrace the ancient warrior traditions of respect for the opponent, reverence for the salle, honoring
            one’s family, and supporting one’s fellow warriors.</p>

        <p>As Miyamoto wrote in The Book of Five Rings, “Think Lightly Of Yourself And Deeply Of The World.” Be
            humble. How are you to hear wisdom if you only hear yourself?
        </p>

        <ol>
            <li><b>I am humble and respectful</b>
                <p>I will not engage in any form of inappropriate, dishonest, mean-spirited, or discriminatory
                    behavior towards other athletes, coaches, or guests. I understand that coaches hold a role of
                    authority and I will follow their direction without exception.</p>
            </li>
            <li><b>I honor the physical safety of myself and others</b>
                <p> I follow the rules and wear appropriate equipment in good working order.</p>

            <li><b>I strive to be the best athlete and person I can be</b>
                <p>As an athlete, I will do my best and be an example for others. As a guest, I will honor the space
                    and never distract or disrupt. </p></li>

            <li><b>I honor and respect our environment and culture.</b>
                <p>Everything and everyone in our environment has value and must be treated as if it were my own. By
                    diminishing anything or anyone in it, I diminish myself and all that we strive for. </p>
            </li>
            <li><b>I will do my best to adhere to this ancient wisdom of the ronin:</b>
                <div class="section-quote">“Truth is not what you want it to be; it is what it is, and you must bend
                    to its power or live a lie. Today is victory over yourself of yesterday; tomorrow is your
                    victory over lesser men.”<br/>-Miyamoto Musashi, The Book of Five Rings
                </div>
            </li>

        </ol>
    </div>

    <div class="section-title">COVENANT FOR COMPETITION</div>
    <div class="content">

        <p>At tournaments, we have one purpose, and that is to fight. And the only purpose of fighting is to win.
            But we also have a reputation of fairness and honor to uphold. Therefore:</p>

        <ol>
            <li><b>I appear at the tournament venue early and prepared.</b>
                <p>I arrive with all of my equipment in full working order. I arrive <i>no later than 60 minutes
                    prior to the close of registration and 90 minutes before whenever possible</i>.</p>
            </li>

            <li><b>I manage my time at competitions wisely</b>
                <p>I am responsible for following the progress of the tournament and showing up for my next bout on
                    time. <br/><i>I AM NOT HERE TO SOCIALIZE OR BE A TOURIST</i>
                </p>
            </li>

            <li>
                <b>I behave respectfully and sportsmanlike towards other fencers, tournament officials, and members
                    of the audience.</b>
                <p>I obey my coach and all tournament officials.</p>
                <p>
                    <i>As a parent, I will not interfere with my child’s fencing or competition preparation. I will
                        keep my voice down at all times and will not argue or engage in contentious verbiage with
                        other athletes, coaches, spectators, or officials.</i></p>
            </li>

            <li><b>I accept and learn from the results of my fencing.</b>
                <p>I will control my behavior and attitude at all times. After every bout, I will shake my
                    opponent’s and the referee’s hand in a civilized and socially acceptable manner. I will analyze
                    and discuss my performance in order to improve my fencing during practice after the
                    tournament.</p>
            </li>

            <li><b>I play an active role as a team member.</b>
                <p> I will show team spirit and support all team members who are present at the tournament. I will
                    never seek an unfair advantage over my teammates in any way. I understand that when teammates
                    face each other in competition, no coaching can be provided to either side. I understand that
                    representing Kaprica United Fencing Academy at tournaments is a privilege as well as a
                    responsibility.</p>
            </li>

            <li><b>I keep coaches fully informed before and during the tournament.</b>
                <p>I will inform and confirm with coaches before signing up for a tournament. I will contact the
                    coach upon arrival at the venue and will keep them informed about my schedule and strip
                    assignments.
                </p>
            </li>
        </ol>

        <p>
            <b>Kaprica United Fencing Academy reserves the right to suspend or revoke the club membership of any
                fencer or parent who does not act in accordance with the Community Covenants.</b>
        </p>
    </div>
</div>
