<div class="kufa-section">

    <div class="section-title">WAIVER/RELEASE FOR COMMUNICABLE DISEASES INCLUDING COVID-19</div>

    <div class="content">
        <h4>ASSUMPTION OF RISK / WAIVER OF LIABILITY / INDEMNIFICATION AGREEMENT</h4>
        <p>In consideration of being allowed to participate on behalf of Kaprica United Fencing Academy athletic program
            and related events and activities, the undersigned acknowledges, appreciates, and agrees that:</p>
        <ol>
            <li>Participation includes possible exposure to and illness from infectious diseases including but not
                limited to MRSA, influenza, and COVID-19. While particular rules and personal discipline may reduce this
                risk, the risk of serious illness and death does exist; and,
            </li>
            <li>I KNOWINGLY AND FREELY ASSUME ALL SUCH RISKS, both known and unknown, EVEN IF ARISING FROM THE
                NEGLIGENCE OF THE RELEASEES or others, and assume full responsibility for my participation; and,
            </li>
            <li>I willingly agree to comply with the stated and customary terms and conditions for participation as
                regards protection against infectious diseases. If, however, I observe and any unusual or significant
                hazard during my presence or participation, I will remove myself from participation and bring such to
                the attention of the nearest official immediately; and,
            </li>
            <li>I, for myself and on behalf of my heirs, assigns, personal representatives and next of kin, HEREBY
                RELEASE AND HOLD HARMLESS Kaprica United Fencing Academy , TERRENO MIDDLEBROOK LLC, and JONES LANG
                LASALLE AMERICAS, INC,.their officers, officials, agents, and/or employees, other participants,
                sponsoring agencies, sponsors, advertisers, and if applicable, owners and lessors of premises used to
                conduct the event (“RELEASEES”), WITH RESPECT TO ANY AND ALL ILLNESS, DISABILITY, DEATH, or loss or
                damage to person or property, WHETHER ARISING FROM THE NEGLIGENCE OF RELEASEES OR OTHERWISE, to the
                fullest extent permitted by law.
            </li>
        </ol>

        <p>
            I HAVE READ THIS RELEASE OF LIABILITY AND ASSUMPTION OF RISK AGREEMENT, FULLY UNDERSTAND ITS TERMS,
            UNDERSTAND THAT I HAVE GIVEN UP SUBSTANTIAL RIGHTS BY SIGNING IT, AND SIGN IF FREELY AND VOLUNTARILY WITHOUT
            ANY INDUCEMENT.</p>
        <p class="has-text-centered"><a class="button" href="/assets/documents/COVID_WAIVER.pdf"
                                       target="_blank">Print & Sign</a>
        </p>

        <hr/>
        <p class="has-text-centered"><b>FOR PARTICIPANTS OF MINORITY AGE (UNDER AGE 18 AT THE TIME OF REGISTRATION)</b>
        </p>
        <p>This is to certify that I, as parent/guardian, with legal responsibility for this participant, have read and
            explained the provisions in this waiver/release to my child/ward including the risks of presence and
            participation and his/her personal responsibilities for adhering to the rules and regulations for protection
            against communicable diseases. Furthermore, my child/ward understands and accepts these risks and
            responsibilities. I for myself, my spouse, and child/ward do consent and agree to his/her release provided
            above for all the Releasees and myself, my spouse, and child/ward do release and agree to indemnify and hold
            harmless the Releasees for any and all liabilities incident to my minor child’s/ward’s presence or
            participation in these activities as provided above, EVEN IF ARISING FROM THEIR NEGLIGENCE, to the fullest
            extent provided by law.</p>
        <p class="has-text-centered"><a class="button" href="/assets/documents/COVID_WAIVER.pdf"
                                        target="_blank">Print & Sign</a>
        </p>
    </div>


</div>
