<div class="kufa-section">

    <div class="section-title">CLASS FEES AND MEMBERSHIP BENEFITS</div>

    <div class="content">
        <h4>CLASS FEES</h4>
        <table class="table table-bordered table-fees">
            <tr>
                <th>Class Type</th>
                <th>Member</th>
                <th>Non-Member</th>
            </tr>
            <tr>
                <td>Introduction (four sessions only)</td>
                <td>$25</td>
                <td>$25</td>
            </tr>
            <tr>
                <td>Fundamentals 90 min</td>
                <td>$25</td>
                <td>$30</td>
            </tr>
            <tr>
                <td>Competitive 120 min</td>
                <td>$40</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>Advanced 120 min</td>
                <td>$40</td>
                <td>$50</td>
            </tr>
            <tr>
                <td>Footwork/Fitness 60 min</td>
                <td>$25</td>
                <td>$35</td>
            </tr>
            <tr>
                <td>Online Class 60 min</td>
                <td>$30</td>
                <td>$30</td>
            </tr>
        </table>

        <h4>MONTHLY CLASS SUBSCRIPTIONS</h4>

        <p>Monthly class packages <b>for members</b> offer discounts to the above. <b>NON-MEMBERS</b> may purchase
            classes individually and be billed monthly, but free bouting charges will apply during sessions outside
            of the class. An Unlimited package represents the best value for serious athletes, saving $220 per month
            from the member rate above if four total classes and one footwork/fitness are taken per week.</p>

        <table class="table table-bordered table-fees">
            <tr>
                <th>Subscription Type</th>
                <th>Monthly Charge, due on 1st of each month</th>
            </tr>
            <tr>
                <td>ONLINE - 5 days per week</td>
                <td>$250</td>
            </tr>
            <tr>
                <td>FOUNDATION 1</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>COMPETITIVE 1</td>
                <td>$160</td>
            </tr>
            <tr>
                <td>COMPETITIVE 2</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>ADVANCED</td>
                <td>$300</td>
            </tr>
            <tr>
                <td>UNLIMITED<br/> Includes 4 Footwork.Fitness classes, 5 online classes per week, 10% discount on camps
                    and clinics, preferential long-term lesson scheduling
                </td>
                <td>$500</td>
            </tr>

        </table>

        <p><b>NOTE: Please notify Kaprica United FA via email of any planned absences or changes to subscriptions no
            later than the 20th of the month before alteration to avoid unnecessary charges.</b></p>
    </div>
    <div class="section-title">PRIVATE LESSON FEES</div>
    <div class="content">
        <h4>PRIVATE LESSONS</h4>
        <p>Private lessons with any coach are 20 or 40 minutes in length and instruct students specifically and
            individually about technique, balance, tactical progressions, rhythm, and coordination. While classes are
            designed to create proficient fencers, private lessons are a way to gain a deeper understanding of fine
            points that can make a proficient athlete into a highly skilled one. They are an important part of a serious
            athlete’s overall development.</p>

        <p>Lessons must generally be cancelled at least 24 hours in advance to avoid being charged, though reasonable
            exceptions to this policy may be made at the discretion of the coach. Please arrive for your lesson at least
            10 minutes before start time to ensure a proper warm up and a complete experience.</p>

        <table class="table table-bordered table-fees">
            <tr>
                <th>Instructor</th>
                <th>Member</th>
                <th>Non-Member</th>
            </tr>
            <tr>
                <td>Head Coach</td>
                <td>$50</td>
                <td>$60</td>
            </tr>
            <tr>
                <td>Assistants</td>
                <td>$50</td>
                <td>$60</td>
            </tr>
        </table>
        <p>Time with coaches - when available - can also be booked at the above rate for personal training, footwork
            lessons, individual video review, and other services upon request.
        </p>
    </div>
</div>
