<div class="kufa-section">
    <div class="section-title">GALLERY</div>

    <div class="content">
        <div class="columns">

            <div class="column image-pane">
                <div style="height:400px" class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/oOmdOIRK5Uc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="image-pane-caption">Summer Nationals 2018 - St. Louis MO</div>
            </div>

            <div class="column image-pane has-text-centered">
                <div class="jcarousel" style="width:400px;margin:0 auto">
                    <ul>
                        <li>
                            <img height="400" src="/assets/img/gallery/20181114/image2.jpg">
                        </li>
                        <li>
                            <img height="400" src="/assets/img/gallery/20181114/image1.jpg">
                        </li>
                        <li>
                            <img height="400" src="/assets/img/gallery/20181114/IMG_6723.jpg">
                        <li>
                            <img height="400" src="/assets/img/gallery/IMG_0037.jpg">
                        </li>
                        <li>
                            <img height="400" src="/assets/img/gallery/IMG_1103.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1204.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1345.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1346.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1358.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1363.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1471.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1472.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_1938.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2214.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2251.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2529.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2590.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2668.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2767.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2852.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2860.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_2959.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_3147.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_3191.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_3321.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_3976.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_4110.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_5197.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_5247.jpg">

                        </li>
                        <li>
                            <img src="/assets/img/gallery/IMG_5554.jpg">
                        </li>
                    </ul>
                    <div class="carousel-navigation has-text-centered">
                    <span class="carousel-nav-left">
                        <i class="fas fa-chevron-left"></i>
                    </span>&nbsp;&nbsp;
                        <span class="carousel-nav-right">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="jcarousel" style="width:400px;margin: 0 auto">
                    <ul>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5741.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5742.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5743.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5744.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5745.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/venue/IMG_5746.jpg">
                        </li>
                    </ul>
                </div>
                <div class="carousel-navigation has-text-centered">
                    <span class="carousel-nav-left">
                        <i class="fas fa-chevron-left"></i>
                    </span>&nbsp;&nbsp;
                    <span class="carousel-nav-right">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
                <div class="has-text-centered">‘Before’ photos of our elegant new 4250 square foot home.</div>

            </div>

            <div class="column image-pane has-text-centered">
                <div class="jcarousel" style="width:400px;margin:0 auto">
                    <ul>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_0081.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6404.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6454.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6524.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6530.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6531.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6556.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6558.jpg">
                        </li>
                        <li>
                            <img src="/assets/img/gallery/20181107/IMG_6559.jpg">
                        </li>
                    </ul>
                </div>
                <div class="carousel-navigation has-text-centered">
                    <span class="carousel-nav-left">
                        <i class="fas fa-chevron-left"></i>
                    </span>&nbsp;&nbsp;
                    <span class="carousel-nav-right">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel.min.js"></script>

<script>
$(function () {
    $('.jcarousel').jcarousel({wrap: 'both'}).jcarouselAutoscroll({
        interval: 3000,
        target: '+=1',
        autostart: true
    });

    $('.carousel-nav-left').jcarouselControl({
        target: '-=1'
    });

    $('.carousel-nav-right').jcarouselControl({
        target: '+=1'
    });
});
</script>
