<div class="kufa-section">

    <div class="section-title">MISSION STATEMENT</div>

    <div class="content">
        <div class="section-quote">Not every child will be a national champion, but we find the champion within each child.
        </div>
        <p>Fencing is a beautiful sport based on skill, balance, intelligence, honor, and discipline.  The lessons that fencing teaches are directly applicable to life, business, relationships, and success in any challenge one may face.</p>
        <p>Just as fencing can instruct youth to lead more purposeful and successful lives, many of the qualities that make a truly great fencer are learned outside of the gym - from family, from triumph, and especially from failures.</p>
        <p>Fencing - with its endless cycles of victories and defeats in training and competition - teaches children and young adults two qualities often missing in today’s environment: patience and perseverance.</p>
    </div>

</div>
