<div class="kufa-section">
    <div class="section-title">REGISTRATION FORMS</div>
    <div class="content">
        <ul>
            <li>
                <a href="/assets/documents/MembershipAgreement.pdf" target="_blank"> Kaprica United Fencing Academy
                    Registration Form and Membership Agreement &nbsp; <i class="fas fa-external-link-alt fa-sm"></i> </a>
            </li>
            <li>
                <a href="https://member.usafencing.org/membership-types" target="_blank"> USA Fencing Membership
                    &nbsp; <i class="fas fa-external-link-alt fa-sm"></i> </a>
            </li>
        </ul>
    </div>
</div>
