<div class="kufa-section">
    <div class="section-title">Class Schedule</div>
    <div class="content">
        <p class="has-text-centered">
            <a class="btn btn-primary"
                href="https://squareup.com/appointments/book/MA7066BY3JRDQ/kaprica-united-fencing-academy-warren-nj"
                target="_kufa_square">
                Click Here to Book Lessons
                <i class="fas fa-external-link-alt"></i>
            </a>
        </p>
    </div>
    <table class="table table-schedule table-bordered table-responsive" style="width:100%;max-width:960px">
        <tr>
            <td>
            </td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
        </tr>
        <tr>
            <td>3:30</td>
            <td class="lessons" rowspan="2">Lessons</td>
            <td class="lessons" rowspan="2">Lessons</td>
            <td class="lessons" rowspan="2">Lessons</td>
            <td class="lessons" rowspan="2">Lessons</td>
            <td class="lessons" rowspan="2">Lessons</td>
        </tr>
        <tr>
            <td>4:00</td>
        </tr>
        <tr>
            <td>4:25</td>
            <td colspan="5" class="transition">Transition / Arrival Assessment / Temperature Check</td>
        </tr>
        <tr>
            <td>4:30</td>
            <td rowspan="2" class="lessons">Lessons</td>
            <td rowspan="2" class="fundamentals">Foundation<br />4:30-6:00</td>
            <td rowspan="2" class="lessons">Lessons</td>
            <td rowspan="2" class="youth">Youth Competitive<br />4:30 - 6:00</td>
            <td rowspan="2" class="lessons">Lessons</td>
        </tr>
        <tr>
            <td>5:00</td>
        </tr>
        <tr>
            <td>6:00</td>
            <td colspan="5" class="transition">Transition / Arrival Assessment / Temperature Check</td>
        </tr>
        <tr>
            <td>6:10</td>
            <td rowspan="2" class="advanced">Advanced<br />6:10 - 8:10</td>
            <td rowspan="2" class="comp">Mixed Competitive<br />6:10-8:10</td>
            <td rowspan="2" class="advanced">Advanced<br />6:10 - 8:10</td>
            <td rowspan="2" class="comp">Mixed Competitive<br />6:10-8:10</td>
            <td rowspan="2" class="advanced">Advanced<br />6:10 - 8:10</td>
        </tr>
        <tr>
            <td>7:00</td>
        </tr>

        <tr>
            <td>8:00</td>
            <td rowspan="2" class="bouting">Bouting and Lessons</td>
            <td rowspan="2" class="bouting">Bouting and Lessons</td>
            <td rowspan="2" class="bouting">Bouting and Lessons</td>
            <td rowspan="2" class="bouting">Bouting and Lessons</td>
            <td rowspan="2" class="bouting">Bouting and Lessons</td>
        </tr>
        <tr>
            <td>10:00</td>
        </tr>
    </table>
    <p class="has-text-centered"><a class="button" href="/assets/documents/KUFA_Schedule.pdf"
            target="_blank">Printable</a>
    <p>&nbsp;</p>

    <table class="table table-schedule table-bordered table-responsive" style="width:100%;max-width:500px;">
        <tr>
            <td>
            </td>
            <td>Saturday</td>
            <td>Sunday</td>
        </tr>
        <tr>
            <td>10:00</td>
            <td rowspan="2" class="youth">Youth Competitive<br />10:00 - 12:00</td>
            <td class="closed" rowspan="11">
                Closed
            </td>
        </tr>
        <tr>
            <td>11:00</td>
        </tr>
        <tr>
            <td>12:00P</td>
            <td class="lessons" rowspan="1">Lessons</td>
        </tr>
        <tr>
            <td>12:55</td>
            <td class="transition">Transition / Temperature Check</td>
        </tr>

        <tr>
            <td>1:00</td>
            <td rowspan="2" class="advanced">Advanced<br />1:00 - 3:00</td>
        </tr>

        <tr>
            <td>2:00</td>
        </tr>
        <tr>
            <td>3:00</td>
            <td rowspan="3" class="bouting">Bouting and Lessons</td>
        </tr>
        <tr>
            <td>4:00</td>
        </tr>
        <tr>
            <td>5:00</td>
        </tr>
    </table>

    <p class="has-text-centered"><a class="button" href="/assets/documents/KUFA_Schedule.pdf"
            target="_blank">Printable</a>
    <p>&nbsp;</p>

    <div class="content">
        <p>NOTE : Class schedule subject to revision at anytime by
            management. Kaprica will inform membership at least two weeks before of any planned additions or
            changes.</p>
        <p class="has-text-centered">
            <a class="btn btn-primary"
                href="https://squareup.com/appointments/book/MA7066BY3JRDQ/kaprica-united-fencing-academy-warren-nj"
                target="_kufa_square">
                Click Here to Book Lessons
                <i class="fas fa-external-link-alt"></i>
            </a>
        </p>
    </div>
</div>