<div class="kufa-section">
    <div class="section-title">STAFF</div>

    <!-- <div class="box">
        <p class="image is-pulled-left">
            <img class="rounded" src="/assets/img/kovacs.jpg"
                 style="width:110px; margin: 0 15px 15px 15px;border-radius:.25rem" width="110">
        </p>
        <div class="content">
            <h4>STEPHEN KOVACS - OWNER AND HEAD COACH</h4>
            <p>Coach Kovacs has over 15 years experience coaching all three weapons. For the past 5 years, he has
                specialized in his primary discipline of saber. Over his career, he has produced national champions,
                dozens of national medals, and garnered national media attention for his students’ accomplishments.
                Currently, he has one of the strongest youth groups in the United States.</p>
            <p>A former Head Coach of Stevens Institute of Technology and Assistant Coach of Duke University, Coach
                Kovacs has experience with NCAA fencing at the highest level and is quite familiar with the
                admissions and recruitment process as well as NCAA rules relevant to eligibility.</p>
            <p>As an athlete, Kovacs held 5 junior national titles and 2 cadet, and placed 11th in the cadet world
                championships in Cabries en Calas, France. He held spots on several US teams and has coached
                athletes representing the United States at Cadet World Cups. He was coached and mentored by some of
                the greatest names in saber fencing, such as Nazlymov, Kogler, Korfanty, Koniusz, and Etropolski -
                all of whom made their unique imprints and contributions to his guiding philosophy and pedagogy.
                Kovacs, also a schoolteacher for his entire coaching career, values the concept of a strong lesson
                plan and a methodical yet creative approach to a fencer’s education in sport and in life.</p>

        </div>
    </div> -->


    <div class="box">
        <p class="image is-pulled-left">
            <img class="rounded" src="/assets/img/brown.jpg"
                 style="width:110px; margin: 0 15px 15px 15px;border-radius:.25rem" width="110">
        </p>
        <div class="content">
            <h4>
                ZACK BROWN - COACH
            </h4>

            <p>Zack has successfully competed at the NJ high school, NCAA, national, and senior World Cup levels. He finished the 2016 Olympic season ranked 9th in the USA and has earned multiple national medals including a team gold medal at the 2017 National Championships.</p>
            <p>In addition, he is a highly accomplished referee who has presided over NJ high school state finals, Junior Olympic finals, and USA Division 1 finals for the past several years. Last season, Zack earned his FIE B license and is officiating for the USA at cadet, junior, and senior World Cups. Zack is currently an A rated saber fencer who spars actively with our students to elevate their physical and tactical game.</p>
            <p>As a coach, Zack achieved a Veteran World Championship silver medal at the 2019 Veteran WC in Cairo, EGY with his student AND father, Rich Brown. Zack has also been instrumental in the success of Kaprica fencers both on the strip and in the gym, leading and designing classes and drills derived from the Hungarian method. </p>
            <p>Zack earned his bachelor’s from Rutgers University and holds a masters’ degree in psychology from NYU.</p>
        </div>
    </div>
    <div class="box">
        <p class="image is-pulled-left">
            <img class="rounded" src="/assets/img/puccio.png"
                 style="width:110px; height:110px; margin: 0 15px 15px 15px;border-radius:.25rem" width="110" height="110">
        </p>
        <div class="content">
            <h4>
                GREG PUCCIO - COACH
            </h4>

            <p>Greg is an A-rated saber fencer who has made top 8 Div 1 results.  He graduated from the New Jersey Institute of Technology where he qualified for NCAA championships several times  Greg is also an experienced referee at the national and local levels and bouts actively with the students. </p>
        </div>
    </div>

</div>
