<div class="kufa-section">
    <div class="section-title">STAFF</div>
    <div class="box">
        <p class="image is-pulled-left">
            <img class="rounded" src="/assets/img/brown.jpg"
                 style="width:110px; margin: 0 15px 15px 15px;border-radius:.25rem" width="110">
        </p>
        <div class="content">
            <h4>
                ZACK BROWN - COACH
            </h4>

            <p>Zack has successfully competed at the NJ high school, NCAA, national, and senior World Cup levels. He finished the 2016 Olympic season ranked 9th in the USA and has earned multiple national medals including a team gold medal at the 2017 National Championships.</p>
            <p>In addition, he is a highly accomplished referee who has presided over NJ high school state finals, Junior Olympic finals, and USA Division 1 finals for the past several years. Last season, Zack earned his FIE B license and is officiating for the USA at cadet, junior, and senior World Cups. Zack is currently an A rated saber fencer who spars actively with our students to elevate their physical and tactical game.</p>
            <p>As a coach, Zack achieved a Veteran World Championship silver medal at the 2019 Veteran WC in Cairo, EGY with his student AND father, Rich Brown. Zack has also been instrumental in the success of Kaprica fencers both on the strip and in the gym, leading and designing classes and drills derived from the Hungarian method. </p>
            <p>Zack earned his bachelor’s from Rutgers University and holds a masters’ degree in psychology from NYU.</p>
        </div>
    </div>
    <div class="box">
        <p class="image is-pulled-left">
            <img class="rounded" src="/assets/img/puccio.png"
                 style="width:110px; height:110px; margin: 0 15px 15px 15px;border-radius:.25rem" width="110" height="110">
        </p>
        <div class="content">
            <h4>
                GREG PUCCIO - COACH
            </h4>

            <p>Greg is an A-rated saber fencer who has made top 8 Div 1 results.  He graduated from the New Jersey Institute of Technology where he qualified for NCAA championships several times  Greg is also an experienced referee at the national and local levels and bouts actively with the students. </p>
        </div>
    </div>

</div>
